.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: rgba(4, 22, 46, 255);
  padding: 20px;
}

.titleContainer {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.titleContainer::before,
.titleContainer::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgba(4, 22, 46, 255);
  margin: 0 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

.ContainerLogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ContainerLogos img {
  background-color: #c7dbdd;
  border: #f0f0f0 1px solid;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.ContainerLogos img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}