.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(4, 22, 46, 255);
  color: white;
  padding: 20px;
}

.titleContainer {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.titleContainer::before,
.titleContainer::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgba(4, 22, 46, 255);
  margin: 0 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

.List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  margin-left: 50px;
}

.List img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.Li {
  display: flex;
  align-items: center;
  margin: 10px;
  flex: 1 1 200px; /* Adjust the basis value as needed */
}

.Li p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .Li {
    flex-direction: column;
    align-items: center;
  }
  
  .Li p {
    font-size: 16px;
    text-align: center;
  }
  
  .List img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .Li {
    flex-direction: column;
    align-items: center;
  }
  
  .Li p {
    font-size: 14px;
    text-align: center;
  }
  
  .List img {
    width: 30px;
    height: 30px;
  }
}
